.dialog-field {
    display: inline-flex;
    padding: 0px;
}

.dialog-field > label {
    white-space: nowrap;
    color: #888888;
    float: right;
    width: 100%;
    text-align: right;
}

.dialog-field .form-control {
    margin-left: 5px !important;
}

.modal-body .edit-nic-dialog {
    height: 16em;
    padding-bottom: 0px !important;
}

.edit-nic-body .row,
.edit-nic-dialog .row {
    padding-bottom: 0.5em;
}

.edit-nic-body .row:first-child {
    padding-bottom: 2em;
    padding-top: 1em;
}

.edit-nic-body .row:nth-child(2) {
    padding-bottom: 2em;
    padding-top: 1em;
}

.edit-nic-body .row:last-child {
    padding-top: 1em;
}

.edit-nic-source > label {
    width: auto;
    padding-left: 2em;
}

.fa-hourglass {
    color: orange;
}

.fa-circle-thin {
    color: orange;
}

.line-nic-hourglass {
    padding-left: 1em;
}

.dialog-wait-ct span {
    vertical-align: middle !important;
}

.nic-edit-idle-message {
    float: left !important;
}

.dialog-field-readonly {
    padding-left: 0.5em;
}
