.nic-edit > .modal-dialog {
    width: 70rem;
}

.nic-edit .form-group > div {
    padding-right: 0;
}
.nic-edit .form-group > div:first-child {
    padding-left: 0;
}

.nic-edit .mac-address {
    text-align: left;
}

.nic-edit-idle-message {
    align-items: center;
    display: flex;
    float: left;
    line-height: 24px; /* Same height as a button */
}

.nic-edit .pficon-pending {
    color: #ec7a08; /* pf-orange-400 */
    font-size: 16px;
    line-height: inherit;
    margin-right: 0.5rem;
}
