.slider-grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    grid-gap: 1.5rem 0.25rem;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .slider-grid {
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, max-content);
        justify-items: start;
    }

    .slider-grid .ct-slider {
        grid-column: 1 / -1;
    }
}

.slider-grid .ct-slider {
    --width-min: 1em;
    --width-max: 2em;
    display: grid;
    grid-template-columns: minmax(var(--width-min), max-content) 1fr minmax(var(--width-max), max-content);
    grid-gap: 0.5em;
    width: 100%;
}

.slider-grid .ct-slider b {
    font: inherit;
    font-size: var(--pf-global--FontSize--sm);
}

.slider-grid .ct-slider b:last-child {
    text-align: left;
}

.slider-grid input[type=number] {
    max-width: 5em;
}
